<div class="flex flex-col text-center">
  <div class="card bg-gray-50 shadow-xl w-auto mx-4 my-32">
    <div class ="card_body mx-4 mt-8">
      <p class="text-4xl border-dashed border-b border-gray-500 text-orange font-mono"> プロフィール </p>
      <div class="flex flex-row justify-center p-24">
        <div class="text-2xl border-dashed border-b border-gray-500">
          <%= current_user.name %>
        </div>
        <%= link_to edit_profile_path, class: "pl-8" do %>
          <i class="fa-solid fa-pen-clip fa-2xl"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
