<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <div class="text-slate-950 text-6xl mt-20">
    <%= @fraud_report.respond %>
    </div>
    <P class="text-2xl mt-4">の可能性があります！</p>
</div>