<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <p class="mt-20 text-6xl "><%= t('.title') %></p>
    <%= link_to new_fraud_report_path, class: "btn w-64 rounded-full mt-2 text-center" do %>
        診断スタート！
    <% end %>

</div>

