<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <p class="mt-20 text-6xl ">詐欺師の手帳</p>
    <P class="mt-20 text-4xl">「これって詐欺？」</P>
    <p class="mt-5 text-2xl tracking-wide">手帳を使って診断してみよう</p>

    <div class="text-slate-950 mt-20">
        <P>さっそくやってみる!</p>
    </div>
    <button class="btn w-64 rounded-full mt-2">診断スタート！</button>
</div>

