<div class="flex flex-col items-center text-orange">
    <p class="text-4xl py-4 font-semibold">「これって詐欺？」</p>
    <p class="mt-2 text-xl">「何かの詐欺かもしれない、でもわからない。。」</p>
		<p class="mt-2 text-xl">そんな時は「詐欺師の手帳」を使って調べてみよう！</p>

      <%= video_tag "scammers_note.mp4", autoplay: true, playsinline: true, class: "py-8 w-32" %>

		<p class="mt-2 text-xl">7つの質問に答えるとAIのマドフくんが教えてくれるよ!</p>
    <%= link_to new_fraud_report_path, class: " btn btn-outline btn-info w-64 rounded-full text-center mt-2" do %>
        診断スタート！
    <% end %>
</div>

