<div class="flex flex-col items-center  text-orange">
    <p class="text-6xl "><%= t('.title') %></p>
        <%= video_tag "scammers_note.mp4", autoplay: true, playsinline: true, class: "w-32"%>
    <%= link_to new_fraud_report_path, class: "btn w-64 rounded-full text-center" do %>
        診断スタート！
    <% end %>
</div>

