<% content_for(:title, t('.title')) %>
<div class ="flex items-center justify-center text-orange">
  <div class="card bg-gray-50 shadow-xl my-10 mx-4 w-full">
    <div class="card-body">
      <p class="text-4xl flex justify-center border-dashed border-b">マドフくんを友だち追加しよう!</p>
      <ul class="my-10">
        <li class="border-dashed border-b">・緑の「友だち追加」ボタンを押して、LINEでの友だち追加をしてください!</li>
        <li class="border-dashed border-b pt-4">・毎朝7時に1回、詐欺の情報をお届けします!</li>
      </ul>
      <%= link_to "https://lin.ee/Ke6eHz0", class: "flex items-center h-10 bg-[#06C755] text-white font-medium rounded shadow" do %>
        <%= image_tag 'btn_base.png', alt: 'LINE Icon', class: 'w-8 h-8 ml-4 mr-2' %>
        <span class="flex-1 text-xl text-center font-bold mr-10">友だち追加</span>
      <% end %>
    </div>
  </div>
</div>