<div id="like-button-<%= @post.id %>">
  <% if current_user.liked_posts.exists?(@post.id) %>
    <!-- いいね解除ボタン -->
    <%= render 'likes/unlike', { post: @post } %>
  <% else %>
    <!-- いいねボタン -->
    <%= render 'likes/like', { post: @post } %>
  <% end %>
</div>