<!--ヘッダー部分-->
<div class="flex flex-row justify-between items-center bg-accent text-white w-full h-16 ">
    <div class="pl-4">
            <%= link_to t('header.title'),root_path %>
    </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="flex items-center py-5 px-3 text-sm btn m-1  mr-4 hover:bg-orange">
                <i class="fa-solid fa-bars fa-xl"></i>
            </div>
                <ul tabindex="0" class="dropdown-content menu bg-blue-100 text-slate-950 rounded-box z-[1] w-52 p-2 shadow">
                    <li>
                        <%= link_to new_user_path, class: "flex items-center gap-x-2 py-2 hover:bg-gray-300" do %>
                            <i class="fa-solid fa-id-card fa-xl"></i>
                            ユーザー登録
                        <% end %>
                    </li>
                    <li>
                        <%= link_to login_path, class: "flex items-center gap-x-2 py-2 hover:bg-gray-300" do %>
                            <i class="fa-solid fa-user-pen fa-xl"></i>
                            ログイン
                        <% end %>
                    </li>
                </ul>
        </div>
</div>
