<footer class="flex items-center bg-accent text-white w-full h-12">
    <div class="mx-4 ">
    <%= link_to "・お問い合わせ","#" %>
    <%= link_to "・プライバシーポリシー","#" %>
    <%= link_to "・利用規約","#" %>
    </div>
</footer>