<footer class="flex items-center text-block bg-yellow-300 w-full h-12">
    <div class="mx-4 ">
    <%= link_to t("footer.terms"), "terms" %>
    <%= link_to t("footer.privacy"), "privacy_policy" %>
    </div>
</footer>