<header class="flex justify-between items-center bg-accent text-white w-full h-16 ">
    <div class="ml-2">
        <%= link_to "詐欺師の手帳",root_path %>
    </div>
    <div class="mr-4">
        <%= link_to "ログイン","#" %>
        <%= link_to "ログアウト","#" %>
    </div>
</header>   