<header class="flex justify-between items-center bg-accent text-white w-full h-16 ">
    <div class="ml-2">
        <%= link_to t('header.title'),root_path %>
    </div>
    <div class="mr-4">
        <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
        <%= link_to "詐欺一覧", scams_path %>
        <%= link_to "投稿一覧", posts_path %>
    </div>

</header>