<div class="card bg-gray-50 shadow-xl m-4 animate-slide-in-right">
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th class="text-sm md:text-base">詐欺名</th>
            <th class="text-sm md:text-base">詐欺詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @scams.each do |scam| %>
            <tr class="text-base md:text-xl hover:bg-slate-300 text-gray-600 border-dashed">
              <td><%= scam.name %></td>
              <td>
                <%= link_to scam_path(scam), class: "md:flex md:items-center md:bg-blue-200 md:rounded md:shadow md:text-center", data: { turbo_frame: "_top" } do %>
                <i class="fa-solid fa-book-open pl-4 text-yellow-900 text-2xl md:text-sm animate-wobble-hor-top"></i>
                <p class="hidden md:block md:text-xl md:px-2 md:text-slate-950">詳細へ<p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

