<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= scam.id %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= scam.name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to '詳細', scam_path(scam), class: 'btn btn-info' %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to "投稿一覧", "#", class: 'btn btn-info' %>
  </td>
</tr>
