<div class="flex flex-col items-center text-orange">
	<div class="text-slate-950 text-4xl m-6">
		<h1>詐欺情報一覧!</h1>
	</div>
	<div class="">
		<%= render 'shared/search', q: @q, url: scams_path, search_target: @search_target %>
	</div>
	<div class="m-4 p-4 w-full">
		<% if @scams.present? %>
					<div class="grid grid-cols-3 text-white">
							<%= render @scams %>
					</div>
		<% else %>
			<div class="">
					詐欺情報がありません
			</div>
		<% end %>
	</div>
</div>
