<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <div class="mt-4 mb-8">
        <%=@scam.name %>
    </div>

    <div class="mt-4 text-slate-950">
        <%= @scam.scam_strategy %>
    </div>

    <div class="w-full flex justify-between mt-10 px-40">
        <%= link_to "詐欺の一覧", scams_path, class: "btn w-32 rounded-full mt-2" %>
        <%= link_to "投稿を見にいく", "#", class: "btn w-32 rounded-full mt-2" %>
    </div>


</div>
