<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <div class="mt-4 mb-8">
        <%=@scam.name %>
    </div>

    <div class="mt-4 text-slate-950">
        <%= @scam.scam_strategy %>
    </div>

</div>
