<% content_for(:title, t('.title')) %>
<div class="flex flex-col text-orange">
		<div class="flex justify-center text-4xl mt-4 text-orange border-dashed border-b">
        <%=@scam.name %>
    </div>
	<div class="card bg-gray-50 shadow-xl m-4">
		<div class="card-body">
			<div class="text-slate-950 text-xl leading-normal">
				<% @scam_strategy.each do |line| %>
					<div class="border-b py-2">
						<%= line %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="flex flex-row justify-between mt-10 mx-4">
			<%= link_to "詐欺の一覧", scams_path, class: "btn btn-success w-64 rounded-full" %>
				<div class="divider divider-horizontal">OR</div>
			<%= link_to "投稿を見にいく", posts_path, class: "btn btn-warning w-64 rounded-full" %>
	</div>
</div>
