<div class="text-gray-600">
	<div class="text-orange">
		<p class="flex justify-center font-bold text-xl border-dashed border-b">マークダウン記法</p>
	</div>
	<div class="py-4">
		<div class="py-2">
			<p class="py-2 font-bold">① 見出し [# 〇〇]</p>
				<p>・見出しは「#」を使用します。4個まで書けて「#」の数を増やすほど小さくなります</p>
				<p>・[#### 〇〇] が最小です</p>
				<p>・「# 」のあとは半角空欄を空けてください</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">② リスト [ - 〇〇]</p>
				<p>・ 文字の前に「-」か「+」か「*」をつけます</p>
				<p>・ ①見出し、同様に半角空欄を開けてください</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">③ マーク [`〇〇`]</p>
				<p>・ マークしたい文字に「`」バッククウォートで囲むことでマークできます</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">④ リンク [表示文字列](リンク先)でリンクを作成できます</p>
			<p class="text-orange">例</p>
			<p>・ [リンク](https://example.com)</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">⑤ 打ち消し線 [~~〇〇~~]</p>
				<p>・ 打ち消し線を入れたい文字に[~~]で囲んでください</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">⑥ 引用 [> 〇〇]</p>
				<p>・ 引用をしたい文章に「>」を付けてください</p>
				<p>・ 改行ごとに必要です</p>
				<p>・ ①見出し、同様に半角空欄を開けてください</p>
			<p class="text-orange">例</p>
				<p>> 引用</p>
				<p>> 引用</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">⑦ 画像 ![代替テキスト](画像のURL)</p>
				<p>・ 画像のURLが必要です</p>
			<p class="text-orange">例</p>
			<p>・![テキスト](https://blog.example.png)</p>
			<p class="text-sm pt-2">* 画像のURLはGyazoアプリなどで生成できます</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">⑧ 強調 [**〇〇**]</p>
			<p>・ 強調をしたい文字に[**]で囲んでください。</p>
		</div>
		<div class="py-2">
			<p class="py-2 font-bold">⑨ 線 [***]or[---]or[___]</p>
			<p>・ [*]か[-]か[_]を3つ入力することで水平線が引けます</p>
		<div class="py-2">
			<p class="text-orange">・注: 対応していないマークダウン記法もあります。プレビューで確認してください</p>
		</div>
		</div>
	</div>
</div>