<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-4">
  <% posts.each do |post| %>
    <%= link_to post_path(post), data: { turbo_frame: "_top" } do %>
      <div class="card bg-gray-50 shadow-xl w-auto m-4 min-h-32 text-slate-950">
        <div class="card-body text-xl">
          <div class="text-center border-dashed border-b">
            <%= post.title %>
          </div>
          <div class="flex justify-between text-sm pt-8">
            <div class="inline-block bg-blue-100 text-blue-800 text-xs px-2 py-1 rounded-full">
              <%= post.users_scam_name %>
            </div>
            <div class="">
            by <%= post.user.name %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
