<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= post.title %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= post.users_scam_name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to '投稿の詳細', post_path(post), class: 'btn btn-info' %>
  </td>
</tr>
