<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= post.id %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= post.title %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to '投稿の詳細', "#", class: 'btn btn-info' %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to "詐欺の詳細", "#", class: 'btn btn-info' %>
  </td>
</tr>
