<div class="flex-grow container mx-auto flex flex-col items-center text-orange">
    <div class="">
        <%= render 'shared/search', q: @q, url: posts_path, search_target: @search_target %>
    </div>
    <div class="text-slate-950 text-2xl mt-10">
        <h1>投稿一覧</h1>
    </div>
    <div class="mt-4 text-xl w-full">
        <% if @posts.present? %>
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            タイトル
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            詐欺名
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <%= render @posts %>
                </tbody>
            </table>
        <% else %>
            <div class="text-center py-4">
                まだ投稿がありません
            </div>
        <% end %>
    </div>
</div>
