<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange m-8">
	<div class="card bg-gray-50 shadow-xl w-full">
		<div class="card-body">
			<p class="flex justify-center border-dashed border-b font-mono text-4xl"><%= t('.title') %></p>
				<%= render "form", post: @post, url: posts_path %>
		</div>
	</div>
</div>


